:root {
  box-sizing: border-box;
  font-family: "Comic Sans MS", "Comic Sans", Arial, sans-serif !important;
  line-height: 1.5;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

p {
  font-size: 1.25rem;
  min-height: 15rem;
  color: #fff;
}

button:disabled {
  cursor: default;
}

button [hidden] {
  display: none;
}

button {
  border: 1px solid;
  border-radius: 50px;
  overflow: hidden;
  padding: 1.2rem 3rem;
  position: relative;
  font-family: inherit;
}

button .original {
  background: #fff;
  color: #000;
  display: grid;
  inset: 0;
  place-content: center;
  position: absolute;
  transition: transform 0.2s;
}

button:hover .original {
  transform: translateY(100%);
}

button .letters {
  display: inline-flex;
}

button span {
  opacity: 0;
  transform: translateY(-15px);
  transition: transform 0.2s, opacity 0.2s;
}

button:hover span {
  opacity: 1;
  transform: translateY(0);
}

button:hover span:nth-child(5) {
  transition-delay: 0.1s;
}

button:hover span:nth-child(6) {
  transition-delay: 0.2s;
}

button:hover span:nth-child(7) {
  transition-delay: 0.3s;
}

button:hover span:nth-child(8) {
  transition-delay: 0.4s;
}

button:hover span:nth-child(9) {
  transition-delay: 1.1s;
}

button:hover span:nth-child(10) {
  transition-delay: 1.2s;
}